{% extends "layouts.html" %}

{% block title %}
    Tinder For Gamers
{% endblock %}

{% block body %}
    <h1>Welcome to the Local Game Finder!</h1>
    
    {% if login %}
        <div class="container" style="max-height: 80%; min-height: 80%;">
            <div class="row">
                <div class="col-sm"><h6>* - Mandatory Fields</h6></div>
                <div class="col-sm"><h3>Hello, {{ user }}</h3></div>
                <div class="col-sm"><form action="{{ url_for('logout') }}" method="POST"><input type="submit" value="Logout"></form></div>
            </div>
            <div class="row">    
                <div class="col">
                    <h4>Set Your User Status</h4>
                        <form action="{{ url_for('status') }}" method="POST">
                            <div class="form-group">
                                {% if status == 'host' %} <input type="radio" id="host" name="status" value="host" checked> Host
                                {% else %} <input type="radio" id="host" name="status" value="host"> Host {% endif %}
                                {% if status == 'player' %} <input type="radio" id="player" name="status" value="player" checked>Player
                                {% else %} <input type="radio" id="player" name="status" value="player"> Player {% endif %}
                                {% if status == 'both' %}<input type="radio" id="both" name="status" value="both" checked> Both 
                                {% else %} <input type="radio" id="both" name="status" value="both"> Both {% endif %} *
                                <br>
                                {% if gametype == 'board' %} <input type="radio" id="board" name="gametype" value="board" checked>Board Games
                                {% else %} <input type="radio" id="board" name="gametype" value="board"> Board Games {% endif %}
                                {% if gametype == 'video' %} <input type="radio" id="video" name="gametype" value="video" checked>Video Games
                                {% else %} <input type="radio" id="video" name="gametype" value="video">Video Games {% endif %}
                                <br><input type="submit"  value="Submit">
                            </div>
                        </form>
                    {% if status == 'player' or status == 'both' %}
                        <h4>Search for a Game to Play:</h4>
                        <form action="{{ url_for('search') }}" method="POST">
                            Select a Location on the Map* <br> 
                            <input type="text" id="lat" name="lat" value=0 hidden>
                            <input type="text" id="lon" name="lon" value=0 hidden>
                            <input type="text" name="genre"   placeholder="Game Genre"> <br>
                            <input type="text" name="title"     placeholder="Search Title"> <br>
                            <select name="radius" id="searchradius" aria-placeholder="Search Radius">
                                <option value="" selected disabled hidden>Search Radius*</option>
                                <option value=1>1km</option>
                                <option value=2>2km</option>
                                <option value=5>5km</option>
                                <option value=10>10km</option>
                                <option value=15>15km</option>
                            </select> <br>
                            <button>Search</button>
                        </form>
                    {% endif %}
                    {% if status == 'host' or status == 'both' %}
                        <!--Will have Event Creation Data-->
                        <h4>Event Maker:</h4>
                        <form action="{{ url_for('create') }}" method="POST">
                            Select a Location on the Map* <br>
                            <input type="text" id="lat2" name="lat" value=0 hidden>
                            <input type="text" id="lon2" name="lon" value=0 hidden>
                            <input type="text" name="name"   placeholder="Event Name*"> <br>
                            <input type="text" name="genre"   placeholder="Genre"> <br>
                            <input type="number" name="capacity"   placeholder="Capacity" min=1 step=1> <br>
                            <input type="radio" name="locationprivacy" value=False checked> Private
                            <input type="radio" name="locationprivacy" value=True> Public
                            *<button>Host</button>
                        </form>
                    {% endif %} <br>
                </div>
                <div class="col-8">
                    <div id="mapid"></div>           
                </div>
            </div>
        </div>


        <script type="text/javascript">
            //Java Script - Mapping Application
            //MapboxGL access token
            mapboxgl.accessToken = 'pk.eyJ1Ijoic2ViYXNpYW5tYXBwZXIiLCJhIjoiY2s3bmw2d2V6MDE0NTNtcDZkano3NDNuaiJ9.4PhNi66A_sAecq8EBHsqyQ';

            // Create Map
            var mymap = L.map('mapid').setView([51.0447, -114.0719], 10);

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/dark-v10',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: mapboxgl.accessToken,
                center: [51.0447, -114.0719],//calgary coordinates
                zoom: 10
            }).addTo(mymap);


            //Insert marker when user clicks on map
            var popup = L.popup();
            function onMapClick(e) {
                popup
                    .setLatLng(e.latlng)
                    .setContent("Your Location: (" + e.latlng.lat.toPrecision(6) + ", " + e.latlng.lng.toPrecision(7) + ")")
                    .openOn(mymap);
                document.getElementById("lat").value = e.latlng.lat;
                document.getElementById("lon").value = e.latlng.lng;
                document.getElementById("lat2").value = e.latlng.lat;
                document.getElementById("lon2").value = e.latlng.lng;
            }
            mymap.on('click', onMapClick);
            
            //if {{search}}:
            var rad = {{rad}}*1000;
            var lat = {{lat}};
            var lon = {{lon}};
            var searchrad = L.circle([lat, lon], {color: "red", radius: rad}).addTo(mymap);

            const list = {{events|safe}};        
            // Search radius selects events
            for(let i=0; i<list.length; i++){
                var from = turf.point([list[i].lat, list[i].long]);//event
                var to = turf.point([lat, lon]);//user
                var options = {units: 'meters'};
                var distance = turf.distance(from, to, options);
                if (distance < rad) {
                    L.marker([list[i].lat, list[i].long]).bindPopup('<b>'+ list[i].title +'</b><br>Host: '+ list[i].creator +'<br>Domain: '+ list[i].privacy).addTo(mymap);
                }
            }       

            const list2 = {{locale|safe}}
            console.log(list2)
            
            for(let i=0; i<list2.length; i++){
                var marker = L.marker([list2[i].lat, list2[i].long]).addTo(mymap);
                if(list2[i].video){
                    marker.bindPopup('<b>'+ list2[i].Title +'</b><br>Capacity: '+ list2[i].Capacity +'<br>Video Games');
                }else if(list2[i].board){
                    marker.bindPopup('<b>'+ list2[i].Title +'</b><br>Capacity: '+ list2[i].Capacity +'<br>Board Games');
                }else{
                    marker.bindPopup('<b>'+ list2[i].Title +'</b><br>Capacity: '+ list2[i].Capacity +'<br>Video & Board Games');
                }
            }

        </script>

    {% else %}
        <h3>Please Login or Register</h3>
        
        <h4>Login:</h4>
        <form action="{{ url_for('login') }}" method="POST">
            <input type="text"  name="username"  placeholder="Username" id="user">      <br>
            <input type="text"  name="password"  placeholder="Password" id="password">  <br>
            <button>Login</button>
        </form>
        
        <h4>Register:</h4>
        <form action="{{ url_for('register') }}" method="POST">
            <input type="text"  name="email"    placeholder="Email"     id="email" >    <br>
            <input type="text"  name="username" placeholder="Username"  id="user" >     <br>
            <input type="text"  name="password" placeholder="Password"  id="password">  <br>
            <input type="text"  name="confirm"  placeholder="Confirm Password">         <br>
            <button>Register</button>
        </form>
    {% endif %}
{% endblock %}