 {% extends "layouts.html" %}

{% block title %}
    Tinder For Gamers
{% endblock %}

{% block body %}
    <h1>Welcome to the Local Game Finder!</h1>
    
    {% if login %}
        <h3>Hello, {{ user }}</h3>

        <br>
        <div style="vertical-align: top; text-align: right;">
            <form action="{{ url_for('logout') }}" method="POST">
                <input type="submit" value="Logout">
            </form>
        </div>
        
        <div class="container">
            <div class="row">
              <div class="col-sm">
                  <h4>Select Your User Status</h4>
                    <form action="{{ url_for('status') }}" method="POST">
                        <div class="form-group">
                            <input type="radio" id="host" name="status" value="host"> Host
                            <input type="radio" id="player" name="status" value="player">Player
                            <input type="radio" id="both" name="status" value="both"> both <br>
                            <input type="submit"  value="submit">
                        </div>
                    </form>
              </div>
              <div class="col-sm">
                    <h4>Search for a Game to Play:</h4>
                    <form action="{{ url_for('search') }}" method="POST">
                        <input type="text" name="genre"   placeholder="Game Genre">    
                        <input type="text" name="title"     placeholder="Search Title">
                        <label for="searchradius">Search Radius</label>
                        <select name="radius" id="searchradius">
                            <option value="1">1km</option>
                            <option value="2">2km</option>
                            <option value="5">5km</option>
                            <option value="10">10km</option>
                        </select>
                        <button>Search</button>
                    </form>
              </div>
              <div class="col-sm">
                <h4>Nothing, Yet</h4>
              </div>
            </div>
        </div>
        <br>

        <!--MAP-->
        <div id="mapid"></div>

        <script type="text/javascript">
            //Java Script - Mapping Application

            //MapboxGL access token
            mapboxgl.accessToken = 'pk.eyJ1Ijoic2ViYXNpYW5tYXBwZXIiLCJhIjoiY2s3bmw2d2V6MDE0NTNtcDZkano3NDNuaiJ9.4PhNi66A_sAecq8EBHsqyQ';

            // New map
            var map = new mapboxgl.Map({
                container: 'mapid',
                style: 'mapbox://styles/mapbox/dark-v10', //stylesheet location
                center: [-114.0719, 51.0447],//calgary coordinates
                zoom: 10
            });

            //add map layers here
        </script>

    {% else %}
        <h3>Please Login or Register</h3>
        
        <h4>Login:</h4>
        <form action="{{ url_for('login') }}" method="POST">
            <input type="text"  name="username"  placeholder="Username" id="user">      <br>
            <input type="text"  name="password"  placeholder="Password" id="password">  <br>
            <button>Login</button>
        </form>
        
        <h4>Register:</h4>
        <form action="{{ url_for('register') }}" method="POST">
            <input type="text"  name="email"    placeholder="Email"     id="email" >    <br>
            <input type="text"  name="username" placeholder="Username"  id="user" >     <br>
            <input type="text"  name="password" placeholder="Password"  id="password">  <br>
            <input type="text"  name="confirm"  placeholder="Confirm Password">         <br>
            <button>Register</button>
        </form>
    {% endif %}
{% endblock %}