<!DOCTYPE html>
<html>
    <head>
        <title>
        {% block title %}
        {% endblock %}
        </title>
        <style>
            h1{text-align: center;}
            h3{text-align: center;}
            table{text-align: center; align-self: center; padding: 5%;}
            href{color: black;}
            ul li{font-weight: bold;}
            #mapid{
                height: 800px;
            }
        </style>
                <!--MapBox-->
                <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>