{% extends "layouts.html" %}

{% block title %}
    Book Search
{% endblock %}

{% block body %}
    <h1>Search</h1>

    <h4>Search for a Game to Play:</h4>
    <form action="{{ url_for('search') }}" method="POST">
        <input type="text" name="genre"   placeholder="Game Genre">    
        <input type="text" name="title"     placeholder="Search Title"> <br>
        <label for="searchradius">Search Radius</label>
        <select name="radius" id="searchradius">
            <option value="1">1km</option>
            <option value="2">2km</option>
            <option value="5">5km</option>
            <option value="10">10km</option>
        </select>
        <br><br>
        <button>Search</button>
    </form>

    <table>
        <tr>
            <th>ISBN</th> 
            <th>Title</th>    
            <th>Author</th> 
            <th>Publish Year</th>
        </tr>
        {% for i in items %}
        <tr>
            <td> {{ i.isbn }}   </td>
            <td> <a href="{{ url_for('book', code=i.isbn) }}"> {{ i.title }}  </a></td>
            <td> {{ i.author }} </td>
            <td> {{ i.year }}   </td>
        </tr>
        {% endfor %}
    </table>


    <br>
    <div style="vertical-align: bottom;">
        <form action="{{ url_for('logout') }}" method="POST">
            <input type="submit" value="Logout">
        </form>
    </div>
{% endblock %}